:root {
    
    
    --blue: #3772FF;
    --purple: #972CAF;
    --red: #BC2C1A;
    --orange: #DD770B;
    --yellow: #EEBA0B;
    --green: #5FAD56;

    --base: #FFFFFF;
    --mantle: #F9F9FA;
    --crust: #F2F2F4;
    --overlay: #E5E5E7;
    --outline: #303236;
    --text: #000000;

    --heading: Noto Sans;
    --body: Noto Sans;
    --mono: JetBrains Mono;
}

body, 
html {
    padding: 0;
    margin: 0;
    font-family: var(--body);
}

* {
    transition: border-color .2s, background-color .2s, color .2s;
}

/* universal styles */

select {
    font-size: 1rem;
    border-radius: .5rem;
    padding: .5rem;
    border: 1px solid var(--overlay);
    outline: none;
    transition: border-color .5s;
}
select:enabled:hover {
    border-color: var(--blue);
}

input {
    padding: .5rem;
    box-sizing: border-box;
    outline: none;
    border-radius: .5rem;
    border: 1px solid var(--overlay);
}
input:focus {
    border: 1px solid var(--blue);
}


button {
    border: 1px solid var(--overlay);
    border-radius: .5rem;
    padding: .5rem 1rem;
}
button:enabled:hover {
    border-color: var(--blue);
}
